@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .total{
         background-image: url(../images/home.jpg);
        background-size:cover;
        height:75vh;
        font-weight:bold;
    }
    .clinic{
                 background-image: url(../images/clinic.jpg);
                 top:5%;

    }
</style>
<div class="total">  
@*<h1 style="position:absolute;top:25%;left:8%;color:lightblue;font-family:Arial;font-style:Italic">Welcome to The Stone Clinic...!</h1>
*@</div>
<div class="clinic">
    

</div>